a[href$=".doc"]:before, a[href$=".docx"]:before	{
												content: url(img3.png);
												}
a[href$=".pdf"]:before							{
												content: url(img4.png);
												}
a[href$=".rss"]:before							{
												content: url(img5.png);
												}
a[href^="https://"]:before						{
												content: url(img6.png);
												}