li												{
												list-style-type: none;
												}
ul:nth-of-type(1) li:before						{
												content: "**";
												color: red;
												}
ul:nth-of-type(2) li:before						{
												content: url(img1.png);
												}
ul:nth-of-type(3) li:before						{
												content: url(img1.png);
												}
ul:nth-of-type(3) li:after						{
												content: url(img2.png);
												}
ul:nth-of-type(4) li:nth-of-type(odd):before		{
												content: url(img1.png);
												}
ul:nth-of-type(4) li:nth-of-type(even):after		{
												content: url(img2.png);
												}