@keyframes latidos
{
    from
    {
        transform: none;
    }
    10%
    {
        transform: scale(1.1);
    }
    25%
    {
        transform: scale(1.0);
    }
    50%
    {
        transform: scale(1.2);
    }
    to
    {
        transform: none;
    }
}
.down img:hover
{
    animation: latidos 1s infinite;
}
.pag1 .contenido a:hover,
.registrarse-footer:hover a,
.login-form input[type=submit]:hover,
.registrarse input:hover
{
    color: #8d0202;
    background-color: #fff;
}
