/* Importar fuentes */
@font-face
{
    font-family: 'oswaldregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
    url('../fonts/oswald-regular-webfont.woff') format('woff'),
    url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
    url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
}
@font-face
{
    font-family: 'oswaldbold';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-bold-webfont.woff2') format('woff2'),
    url('../fonts/oswald-bold-webfont.woff') format('woff'),
    url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
    url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
}
@font-face
{
    font-family: 'robotobold';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-bold-webfont.woff') format('woff'),
    url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
    url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
}
@font-face
{
    font-family: 'robotoitalic';
    font-weight: normal;
    font-style: italic;

    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
    url('../fonts/roboto-italic-webfont.woff') format('woff'),
    url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
    url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
}
@font-face
{
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: oswaldregular;

    padding-top: 80px;

    background-color: #083A57;
}
header .menu
{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;

    background-color: #fff;

    justify-content: space-between;
}
header .menu .titulo
{
    font-family: oswaldbold;
    font-size: 32px;

    overflow: hidden;

    padding: 15px;

    text-align: center;
    text-decoration: none;

    color: #083A57;

    flex: 0 1 auto;
}
header .menu img
{
    width: 27px;
    height: 27px;
    margin: 15.5px;
    padding: 8px;

    cursor: pointer;

    border: 3px solid #083A57;
    border-radius: 10px;

    flex: 0 0 auto;
}
header
{
    width: 100%;
}
header nav
{
    font-family: oswaldbold;

    position: fixed;
    right: 100%;

    overflow-y: scroll;

    width: 30%;
    min-width: 250px;
    height: calc(100% - 80px);
    margin: 0;

    background-color: #fff;
}
header nav ul
{
    list-style: none;
}
header nav ul li
{
    position: relative;

    display: block;

    cursor: pointer;

    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
header nav ul li:first-child
{
    border-top: 1px solid #000;
}
header nav ul li a
{
    display: block;

    padding: 20px;

    text-decoration: none;

    color: #000;
}
header nav ul li img
{
    position: absolute;
    top: 24.5px;
    right: 10px;

    width: 16px;
    height: 16px;

    transition: .5s ease-in-out;
}
header nav ul li .children
{
    position: relative;

    display: none;

    width: 100%;

    background-color: #6a6a6a;
}
header nav ul li .children li
{
    display: block;
    overflow: hidden;

    transition: .3s ease-in-out;

    border-right: none;
    border-bottom: 1px solid #fff;
}
header nav ul li .children li:last-child
{
    border-bottom: none;
}
header nav ul li .children li a
{
    font-family: oswaldregular;

    display: block;

    margin-left: 20px;

    color: #fff;
}
main
{
    font-family: robotoregular;

    min-height: 200px;
    padding-top: 80px;

    text-align: center;

    color: #fff;
}
h1
{
    font-family: oswaldregular;
    font-size: 30px;

    margin-bottom: 20px;
}
.php
{
    overflow-y: scroll;

    height: calc(100vh - 300px);
    margin: 0 20px;
    padding: 10px;

    text-align: left;

    background-color: #fff;
}
.php h1
{
    color: #000;
}
footer
{
    font-size: 10px;

    position: absolute;
    right: 5px;
    bottom: 5px;

    color: #fff;
}
/* Transiciones y transformaciones */
header nav ul li .children li:hover
{
    transition: .3s ease-in-out;

    background-color: #083A57;
}
header nav ul li.girar img
{
    transition: .5s ease-in-out;
    transform: rotate(180deg);
}
/* ScrollBar */
::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-track
{
    background-color: white;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #ccc;
}
/* Hojas de estilo */
@media screen and (max-width: 800px)
{
    body
    {
        padding-top: 160px;
    }
    header .menu
    {
        flex-direction: column-reverse;

        align-items: center;
    }
    header .menu .titulo
    {
        max-height: 80px;
    }
    header nav
    {
        position: fixed;

        width: 100%;
        height: calc(100% - 160px);

        border-bottom: 1px solid #000;
    }
    .php
    {
        font-size: 12px;
    }
}
@media screen and (max-width: 700px)
{
}
@media screen and (max-width: 500px)
{
    body
    {
        padding-top: 150px;
    }
    header nav
    {
        height: calc(100% - 150px);
    }
    header .menu .titulo
    {
        font-size: 26px;
    }
    h1
    {
        font-size: 26px;
    }
    .php
    {
        font-size: 10px;
    }
}
@media screen and (max-width: 400px)
{
    body
    {
        padding-top: 140px;
    }
    header nav
    {
        height: calc(100% - 140px);
    }
    header .menu .titulo
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 300px)
{
    body
    {
        padding-top: 130px;
    }
    header nav
    {
        height: calc(100% - 130px);
    }
    header .menu .titulo
    {
        font-size: 12.95px;
    }
    h1
    {
        font-size: 12.95px;
    }
    .php
    {
        font-size: 8px;
    }
}
