body
{
    font-family: 'Microsoft Sans Serif';

    color: #fff;
}

.fondo img
{
    position: fixed;
    z-index: -100;
    top: 50%;
    left: 50%;

    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;

    transform: translateX(-50%) translateY(-50%);
}

.fondo1,
.fondo1-responsive
.fondo2,
.fondo2-responsive
{
    position: absolute;
    z-index: -99;

    width: 100%;
    height: 100vh;
}
.fondo1 img
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    opacity: 1;
}
.fondo1-responsive img
{
    position: absolute;
    z-index: -99;
    top: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}
.fondo2 img
{
    position: absolute;
    top: 100vh;

    width: 100%;
    height: 100%;

    opacity: 1;
}
.fondo2-responsive img
{
    position: absolute;
    z-index: -99;
    top: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}
header
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: rgba(138, 138, 138, .9);
}

header h1
{
    font-family: sport_centerregular;
    font-size: 80px;
    line-height: 60px;

    position: absolute;
    left: 30px;

    color: #fff;
}

header a
{
    font-size: 15px;
    line-height: 36px;

    position: absolute;
    top: 10px;

    width: 106px;
    height: 36px;

    text-align: center;
    text-decoration: none;

    border: 2px solid white;
    border-radius: 25px;
}

header a:nth-of-type(1)
{
    right: 160px;

    color: #8d0202;
    background-color: #fff;
}
header a:nth-of-type(2)
{
    right: 30px;

    color: #fff;
}
main
{
    min-height: 100vh;
}
section
{
    height: 100vh;
}
.pag1 .contenido
{
    height: 100vh;
}
.pag1 .contenido h1
{
    font-size: 4.5vw;

    display: block;

    min-width: 10vh;
    max-width: 30%;
    padding-top: 200px;
    padding-left: 30px;
}
.pag1 .contenido span
{
    font-size: 1.5vw;

    display: block;

    min-width: 10vh;
    max-width: 30%;
    padding-top: 50px;
    padding-left: 30px;
}
.pag1 .contenido a
{
    font-size: 1.5vw;
    line-height: 4vw;

    display: block;

    min-width: 10vh;
    max-width: 30%;
    height: 4vw;
    margin-top: 50px;
    margin-left: 30px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border: .3vw solid white;
    border-radius: 50px;
}
.pag1 .contenido a img
{
    text-align: center;
}
.pag2 .contenido
{
    height: 100vh;
}
.pag2 .contenido .parte1
{
    height: 50vh;
}
.pag2 .contenido .parte2
{
    height: 50vh;
}
.pag2 .contenido .parte1 img
{
    position: absolute;
    right: 20vh;
    bottom: -50vh;

    height: 20vw;
    min-height: 25%;
}
.pag2 .contenido .parte2 img
{
    position: absolute;
    bottom: -100vh;
    left: 20vh;

    height: 20vw;
    min-height: 25%;
}
.down
{
    position: absolute;
    bottom: 30px;

    width: 100%;

    text-align: center;
}
.down img
{
    width: 10vw;
    max-width: 75px;

    cursor: pointer;
}
footer
{
    height: 50vh;

    background-color: #82807f;
}
footer .network
{
    position: absolute;
    right: 30px;
}
footer .network img
{
    position: relative;
    top: 30px;

    margin: 0 10px;
}
.login:hover
{
    color: #8d0202;
    background-color: #fff;
}
.registrarse:hover
{
    color: #fff;
    background-color: #8d0202;
}
.contenido a:hover
{
    color: #8d0202;
    background-color: #fff;
}
@media screen and (max-width: 1000px)
{
    .pag2 .contenido .parte1 img
    {
        right: 10vh;
    }
    .pag2 .contenido .parte2 img
    {
        left: 10vh;
    }
}
@media screen and (max-width: 800px)
{
    .fondo1 img
    {
        opacity: 0;
    }
    .fondo1-responsive img
    {
        opacity: 1;
    }
    .fondo2 img
    {
        opacity: 0;
    }
    .fondo2-responsive img
    {
        opacity: 1;
    }
    .pag1 .contenido
    {
        text-align: center;
    }
    .pag1 .contenido h1
    {
        font-size: 8vw;

        max-width: 80%;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 0;
    }
    .pag1 .contenido span
    {
        font-size: 3vw;

        display: block;

        max-width: 80%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .pag1 .contenido a
    {
        font-size: 3vw;
        line-height: 7vw;

        display: block;

        min-width: 10vh;
        max-width: 80%;
        height: 7vw;
        margin: 0 auto;
        margin-top: 50px;
    }
    .registrarse
    {
        display: none;
    }
    .down img
    {
        min-width: 50px;
    }
}
