body 								{
									font-family: Arial;
									}
nav 								{
									display: table-cell;
									background-color: #a8281c;
									width: 300px;
									margin-top: 10px;
									margin-bottom: 8px;
									border: 2px solid #e1dedb;
									}
nav ul 								{
									margin: 0px;
									padding: 0px;
									list-style: none;
									}
nav ul li 								{
									margin: 0px;
									}
nav ul li 								{
									text-align: center;
									padding: 15px 20px;
									font-size: 1em;
									color: #ffffff;
									text-decoration: none;
									display: block;
									border-bottom: 1px solid #701911;
									transition:  background-color 4s ease-out;
									}
nav ul li:hover						{
									background: #701911;
									transition:  background-color 0.3s ease-out;
									}