body				{
					font-family: Roboto, Helvetica, Arial, sans-serif;
					font-size: 14px;
					}
.cajahover			{	
					width: 178px;
					height: 298px;
					padding: 5px;
					float: left;
					position: absolute;
					margin: 10px;
					border: 1px solid darkgreen;
					z-index: -1;
					}
.cajavisible		{	
					width: 180px;
					height: 300px;
					padding: 5px;
					float: left;
					position: relative;
					margin: 10px;
					background-color: #ffffff;
					}
.cajavisible:hover	{
					z-index: -1;
					}
.cajahover:hover	{
					z-index: 1;
					}
.imagen				{
					text-align: center;
					}
.imagen img			{
					width: 175px;
					height: 175px;
					border: 1px solid grey;
					}
.precio				{
					width: 110px;
					height: 35px;
					background-image: url("images/boton_amarillo.png");
					background-size: 110px 35px;
					position: absolute;
					top: 165px;
					left: 10px;
					text-align: center;
					}
.precio span 		{
					display: inline-block;
					margin-top: 7px;
					font-size: 20px;
					font-weight: bold;
					}
.articulo			{
					margin-top: 20px;
					}
.articulo span		{
					color: green;
					}
.propiedadeshover	{
					overflow: hidden;
					position: absolute;
					top: 135px;
					width: 170px;
					height: 30px;
					}
.vistaprevia		{
					width: 30px;
					height: 30px;
					background-image: url("images/icono-ficha-vista-previa.png");
					background-size: 30px 30px;
					position: absolute;
					left: 10px;
					}
.novistaprevia		{
					width: 30px;
					height: 30px;
					background-image: url("images/icono-ficha-vista-previa-gris.png");
					background-size: 30px 30px;
					position: absolute;
					left: 10px;
					}
.deseo	 			{
					width: 30px;
					height: 30px;
					background-image: url("images/icono-ficha-listadeseo.png");
					background-size: 30px 30px;
					position: absolute;
					left: 40px;
					}
.comparador			{
					width: 30px;
					height: 30px;
					background-image: url("images/icono-ficha-comparador.png");
					background-size: 30px 30px;
					position: absolute;
					left: 70px;
					}
.configurador	 	{
					width: 30px;
					height: 30px;
					background-image: url("images/icono-ficha-configurador.png");
					background-size: 30px 30px;
					position: absolute;
					left: 100px;
					}
.carro	 			{
					width: 30px;
					height: 30px;
					background-image: url("images/icono-ficha-carro.png");
					background-size: 30px 30px;
					position: absolute;
					left: 130px;
					}
.propiedades		{
					margin-top: 10px;
					position: relative;
					overflow: hidden;
					}
.novedad 			{
					width: 30px;
					height: 30px;
					background-image: url("images/logo_novedad-mini-reducido.png");
					background-size: 30px 30px;
					float: left;
					}
.topventas 			{
					width: 30px;
					height: 30px;
					background-image: url("images/logo_topventas-mini-reducido.png");
					background-size: 30px 30px;
					float: left;
					}
.disponible 			{
					width: 24px;
					height: 24px;
					background-image: url("images/stock-2b.png");
					background-size: 24px 24px;
					position: absolute;
					top: 3px;
					right: 0px;
					}