table					{
						border: 1px #8fa4ad solid;
						color: #ffffff;
						}
tr:nth-of-type(even)	{
						background-color: purple;
						}
tr:nth-of-type(odd)		{
						background-color: red;
						}
tr:first-child			{
						background-color: blue;
						}