body {
	font-family: Arial;
}
header {
	padding: 40px 0px;
	text-align: center;
	font-weight: bold;
	background-color: #ff5b52;
	color: #ffffff;
}
main {
	display: flex;
	margin-top: 20px;
}
section {
	width: 100%;
}
nav {
		flex: 0 0 60px;
	}
nav ul {
	display: flex;
	flex-direction: column;
	padding: 0px;
}
nav ul li {
	display: flex;
	min-width: 60px;
}
nav ul li a {
	padding: 10px;
	text-decoration: none;
	text-align: center;
	background-color: #ececec;
	color: #000000;
}
article {
	padding: 10px;
	background-color: #ececec;
}
#tab1 {
	z-index: 1;
}
#tab1 div {
	padding: 10px;
}
#tab1 div h1 {
	padding: 5px;
	font-weight: bold;
	color: #ff5b52;
}
#tab1 div span {
	display: inline-block;
	padding: 5px;
}
#tab1 img {
	width: 100%;
}
#tab2 {
	flex-direction: column;
	align-items: stretch;
}
#tab2 ul {
	display: flex;
	justify-content: space-around;
	padding: 0px;
}
#tab2 ul li {
	flex: 1 1 auto;
	display: inline;
	margin: 5px;
}
#tab2 ul li img {
	width: 100%;
}
#tab3 {
	flex-direction: column;
}
#tab3 ul {
	display: flex;
	padding: 0px;
}
#tab3 ul li {
	flex: 1 1 auto;
	display: inline;
	margin: 5px;
}
#tab3 ul li img {
	width: 100%;
}
#tab3 .texto {
	display: flex;
}
#tab3 .texto  h1 {
	padding: 5px;
	font-weight: bold;
	color: #ff5b52;
}
#tab3 .texto  span {
	display: inline-block;
	padding: 5px;
}
@media (max-width: 800px) { 
    main { 
		flex-direction: column;
    }
	section {
		display: flex;
		justify-content: center;
	}
	nav ul {
		flex-direction: row;
		justify-content: space-around;
	}
	nav ul li {
		flex: 1 1 200px;
	}
	nav ul li a {
		flex: 1 1 auto;
	}
	#tab1 {
		flex-direction: column;
	}
	#tab2 {
		width: 100%;
	}
	#tab2 ul {
		flex-direction: column;
		flex-grow: 1;
	}
	#tab2 ul li {
		display: flex;
		justify-content: space-around;
	}
	#tab2 ul li img {
		width: auto;
	}
	#tab3 ul {
		flex-direction: column;
	}
	#tab3 .texto {
		flex-direction: column;
	}
}
article:first-child {
	display: flex;
}
article:target {
	display: flex;
}
#tab1:not(:target), #tab2:not(:target), #tab3:not(:target) {
	display: none;
}