body		{
			margin:0;
			background-color: #e0e1eb;
			font-family: Arial;
			}
body *		{
			margin:0;
			}
body>h1		{
			margin-top:0;
			background-color: #31334d;
			color: #ffffff;
			}
section		{
			border-left: 2px solid grey;
			border-right: 2px solid grey;
			position: absolute;
			top: 10%;
			padding-left: 1%;
			padding-right: 1%;
			}
section h2	{
			margin: 0 0 5% 0;
			background-color: #31334d;
			color: #ffffff;
			text-align: center;
			}
article		{
			background-color: #ffffff;
			margin: 0 5% 3% 3%;
			}
article h1	{
			background-color: #2baa31;
			color: #ffffff;
			padding: 1%;
			}
article p		{
			padding: 1%;
			}
#contenedor	{
			min-width: 800px;
			top: 10%;
			left: 10%;
			width: 80%;
			position: absolute;
			}
#escritorio	{
			left: 10%;
			width: 35%;
			}
#internet	{
			right: 10%;
			width: 35%;
			}