body
{
    font-family: Arial;
}
video
{
    position: fixed;
    z-index: -100;
    top: 50%;
    left: 50%;

    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;

    transform: translateX(-50%) translateY(-50%);

    background-image: url(whaleSwimmingUnderBoat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav
{
    height: 40px;

    background-color: #000;
}

nav ul li
{
    display: inline;

    margin: 0 10px;
}
nav ul li a
{
    line-height: 40px;

    text-decoration: none;

    color: #ccc;
}
nav ul li a:hover
{
    text-decoration: underline;

    color: #fff;
}
section
{
    height: calc(100vh - 40px);

    text-align: center;
}
section img
{
    margin-top: 200px;
}
footer
{
    position: fixed;
    bottom: 0;

    width: 100%;

    text-align: center;

    background-color: #000;
}
#controls1
{
    position: fixed;
    top: 50px;
    left: 10px;
}
#controls2
{
    position: fixed;
    top: 50px;
    left: 50px;
}
button
{
    font-size: 18px;

    width: 30px;
    height: 30px;

    cursor: pointer;
    transition: .1s ease-in-out;
    text-align: center;

    color: #fff;
    border: 1px solid #fff;
    background: none;
}
#colorFondo
{
    position: absolute;
    top: 15px;
    left: 15px;

    display: inline-block;

    width: 1px;
    height: 1px;

    transition: .1s ease-in-out;

    opacity: 0;
    background-color: #fff;
}

#controls1:hover #colorFondo,
#controls2:hover #colorFondo
{
    z-index: -1;

    transition: .1s ease-in-out;
    transform: scale(30, 30);

    opacity: 1;
}
#controls1:hover button,
#controls2:hover button
{
    opacity: 1;
    color: #000;
}

.twitter
{
    position: fixed;
    bottom: 0;
    left: 50%;

    width: 250px;
    height: 195px;

    transition: .3s ease-in-out;
    transform: translateX(-50%);

    opacity: .5;
}
.twitter .titulo
{
    font-weight: bold;
    line-height: 30px;

    position: absolute;
    bottom: 160px;

    width: 250px;
    height: 30px;

    transition: .5s ease-in-out;

    opacity: .7;
    color: #fff;
    background-color: #000;
}
.twitter .texto
{
    font-size: 10px;

    position: absolute;
    z-index: 1;
    bottom: -60px;

    width: 250px;
    height: 60px;

    transition: .3s ease-in-out;

    opacity: .6;
    color: #fff;
    background-color: #000;
}

.twitter img
{
    position: absolute;
    top: 40px;

    transition: .4s ease-in-out;
}
.twitter .caja
{
    position: absolute;
    bottom: -10px;
    left: -5px;

    width: 250px;
    height: 190px;
    padding: 5px;

    transition: .3s ease-in-out;

    opacity: 0;
    border: 1px solid #fff;
}
.twitter:hover
{
    transition: .3s ease-in-out;

    opacity: 1;
}
.twitter:hover .caja
{
    bottom: 150px;

    transition: .3s ease-in-out;

    opacity: 1;
}
.twitter:hover .titulo
{
    bottom: 315px;

    transition: .3s ease-in-out;
}
.twitter:hover img
{
    top: -115px;

    transition: .4s ease-in-out;
}
.twitter:hover .texto
{
    bottom: 155px;

    transition: .5s ease-in-out;
}
