body		{
			margin:0;
			background-color: grey;
			}
#uno		{
			background-color: red;
			height: 20%;
			width: 40%;
			position: absolute;
			top: 0;
			left: 0;
			}
#dos		{
			background-color: blue;
			height: 20%;
			width: 40%;
			position: absolute;
			bottom: 0;
			right: 0;
			}
#tres		{
			background-color: green;
			height: 40%;
			width: 40%;
			position: absolute;
			bottom: 0;
			left: 0;
			}
#cuatro		{
			background-color: yellow;
			height: 40%;
			width: 40%;
			position: absolute;
			top: 0;
			right: 0;
			}