body		{
			margin:0;
			background-color: grey;
			}
#uno		{
			background-color: yellow;
			height: 30%;
			width: 100%;
			position: absolute;
			bottom: 10%;
			}
#dos		{
			background-color: red;
			height: 30%;
			width: 100%;
			position: absolute;
			top: 10%;
			}
#tres		{
			background-color: blue;
			height: 100%;
			width: 20%;
			position: absolute;
			bottom: 0;
			left: 20%;
			}
#cuatro		{
			background-color: green;
			height: 100%;
			width: 20%;
			position: absolute;
			top: 0;
			right: 20%;
			}